* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Work Sans", serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('media/backgroud.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.form-box {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    width: 350px;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgb(255, 115, 0);
    text-align: center;
}

input {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border:none;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

input:focus {
    background-color:rgba(255, 255, 255, 0.5);
    outline: none;
}

/*Removem as seta laterais dos inputs number*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    width: 100%;
    padding: 12px;
    background: rgb(255, 115, 0);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 24px;
}

button:hover {
    background: rgba(255, 115, 0, 0.507);
}

h1 {
    color: white;
    margin-bottom: 24px;
}

.conteiner {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

#msg-sucesso {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 255, 0);
    text-align: center;

    display: none;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255, 115, 0, 0.507);
    padding: 12px;
    border: 2px solid rgba(255, 115, 0, 0.507);
    border-radius: 5px;
}

#msg-erro {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-align: center;

    display: none;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255, 115, 0, 0.507);
    padding: 12px;
    border: 2px solid rgba(255, 115, 0, 0.507);
    border-radius: 5px;
}

#campoA-invalido, #campoB-invalido  {
    color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 12px;
    background-color: rgba(255, 0, 0, 0.295);
    border-radius: 5px;
    display: none;
}